
<div class="index-body">
<h2 class="form-title">Login</h2>


<form action="/auth/login" method="post" class="form-orientation">

        
        <input type="text" name="username" id="username" class="user-inputs" placeholder="  Username">

        {{!-- <label for="email">Email: </label>
        <input type="text" name="email" id="email"> --}}

        
        <input type="password" name="password" id="password" class="user-inputs" placeholder="  Password">

        <button type="submit" class="btn-forms">Login</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}

</form>
</div>