<div class="index-body">
<h2 class="form-title">Create your Motek-Fit Account</h2>

<form action="/auth/signup" method="post" class="form-orientation">

        {{!-- <label for="firstname" class='centered-labels'>First Name</label> --}}
        <input type="text" name="firstname" id="firstname" placeholder="  First Name" class="user-inputs">
        <input type="text" name="lastname" id="lastname" placeholder="  Last Name" class="user-inputs">
        <input type="text" name="username" id="username" placeholder="  Username" class="user-inputs">
        <input type="text" name="email" id="email" placeholder="  Email Addres" class="user-inputs">
        <input type="password" name="password" id="password" placeholder="  Password" class="user-inputs">

        <button type="submit" class="btn-forms">Signup</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}

</form>
</div>