<video src="/videos/landing-video.mp4" autoplay muted loop></video>
<div class="hide-hr">.</div>




<div class="index-body">
    <div class="vid-text-container">
        <p>Call us to order catering now <br>
            We'll help you choose the ideal menu and portions for your event. <br>
            Pick up or delivery in just 24 hours
        </p>
        <button class="call">Call Us</button>
    </div>


    <div class="app-container">
        <div>
            <h1 class="app-title">Motek Mobile App</h1>
            <p class="app-text">Order Directly on our mobile app <br>
                Save 10% on your first order <br>
                Delivery & Pick up <br>
                Earn points & redeem for exclusive discounts
            </p>
        </div>


        <div class="app"></div>
    </div>


    <div class="events-container">
        <div class="events-image"></div>

        <div class="events-container2">
            <h1 class="events-text">Private Events</h1>
            <p class="events-text2">Let us help you plan your next private event, party, or corporate gathering.</p>
            <button class="call">Private Events</button>
        </div>
    </div>

    <div class="sweet-heart">
        <p>Motek <span>מותק:</span> Hebrew for</p>
        <p class="sweet-heart-text">sweetheart</p>
        <p>From Tel Aviv to Miami, we are a kosher-style Mediterranean restaurant <br>
            with influences from our ancestors in Lebanon, Morocco, Turkey, Yemen <br>
            and more.</p>
    </div>

</div>