<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@300&family=Sacramento&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  

  <nav>
    <div class="to-left">
      <a href="/" class="layout-links">Home</a>
    </div>

    <div class="to-right">
      {{#if isLoggedIn}}
      <a href="/users/profile" class="layout-links">Profile</a>
      <a href="/auth/logout" class="layout-links">Logout</a>
      <a href="/rewards/content" class="layout-links">My Rewards</a>
      {{else}}
      <a href="/auth/login" class="layout-links" id="btn-login">Login</a>
      <a href="/auth/signup" class="layout-links">Sign Up</a>
      {{/if}}
    </div>
  </nav>
  <hr class="border-nav">

<div class="content-wrapper">
  {{{body}}}
</div>

   <footer>
    <div class="footer-container">
    <div>
    <p>We are a kosher-style Mediterranean restaurant with influences from our ancestors in Lebanon, Morocco, Turkey, Yemen and more.</p>
    <h1 class="social-media">Social Media</h1>
    </div>

    <h1>get started</h1>
    <h1>locations</h1>
    <h1>Newsletter</h1>
    </div>
  </footer>
  
</body>

</html>