<nav class="rewards-nav">
    <div class="to-left text-rewards">
        <h1 class="points-title"> My Points: <span>750</span></h1>
        <h1 class="rewards-username">Username: <span>{{username}}</span></h1>
    </div>

    <div class="to-right">
        <button>Add your points</button>
        <button>See your rewards</button>
        <button class="ai-meal-plan">AI Meal Plan Generator</button>
    </div>
</nav>

{{>rewardsLayout}}