<div class="index-body">
    <nav class="rewards-nav">
        <div class="to-left text-rewards">
            <h1 class="points-title"> My Points: <span>750</span></h1>
            <h1 class="rewards-username">Username: <span>{{username}}</span></h1>
        </div>

        <div class="to-right reward-layout-btns">
            <a href="/rewards/seeRewards">See your rewards</a>
            <a href="/rewards/addyourpoints">Add your points</a>
        </div>
    </nav>
</div>

{{>rewardsLayout}}