<h1>See your rewards</h1>

<nav>
    <div class="to-left">
        <h1 class="rewards-username ">Username: <span>{{username}}</span></h1>
        <h1 class="rewards-username ">Hello, <span>{{fullname}}</span></h1>
    </div>

    <div class="to-right goback-link">
        <a href="/rewards/content" id="goback-link">Go Back</a>
    </div>
</nav>