:root {
  --font-cursivo: 'Sacramento', cursive;
  --font-slab: 'Roboto Slab', serif;
  --font-bebas: 'Bebas Neue', sans-serif;
  --primary-yellow: #d5b359;
  --primary-yellow-light: #f1dda4;
  --dark-grey: #626262;
  --blue: #304A97;
  --light-grey: rgba(241, 239, 235, 0.945);
}

body {
  margin: 0;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: var(--font-bebas);
  font-weight: lighter;
}

.layout-links {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  background-color: var(--blue);
  padding: 0.8rem 2rem;
  width: 1.5rem;
  border-radius: 2rem;
  border: none;
  font-family: var(--font-slab);
}

.layout-links:hover {
  background-color: var(--primary-yellow);
}

.layout-links:nth-of-type(1) {
  margin-left: 0;
}

.profile-name {
  margin-top: 2.5rem;
}

.border-nav {
  margin: 1rem 4rem;
  height: 0.2rem;
  background-color: var(--primary-yellow);
  border-radius: 0.25rem;
  border: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 4rem;
  margin-top: 2rem;
}

.form-orientation {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  /* justify-content: center; */
}

.form-title {
  display: flex;
  justify-content: center;
  font-family: var(--font-cursivo);
  color: var(--primary-yellow);
  font-size: 30px;
}

.btn-forms {
  margin-top: 1rem;
  padding: 0.5rem 0rem;
  border-radius: 1rem;
  border: 1px solid black;
  font-family: var(--font-slab);
  background-color: var(--primary-yellow);
  color: white;
  cursor: pointer;
}

.btn-forms:hover {
  background-color: var(--light-grey);
  color: var;
  border: none;
}

.btn-cancel {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-size: 15px;
  background-color: red;
}

.save-changes {
  color: white;
  border: 2px solid black;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 15px;
  background-color: green;
}

.save-changes:hover {
  background-color: rgb(83, 182, 83);
  color: white;
}

.btn-cancel:hover {
  background-color: rgb(223, 127, 127);
  color: white;
}

.admin-container {
  display: flex;
  justify-content: space-around;
}

.admin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-text-inputs {
  margin-top: 1rem;
}

#description {
  margin-top: 1rem;
  width: 30rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

#itemName {
  width: 30rem;
}

.btn-admin {
  width: 31rem;
  margin-top: 1rem;
  padding: 0.5rem 0rem;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}



.items:hover {
  background-color: rgb(232, 232, 232);
}

span {
  font-weight: 100;
}

.item-name {
  color: black;
  font-weight: 500;
  text-align: center;
}

.items>div>h4 {
  margin-left: 1rem;
}

.items>div>p {
  margin-left: 1rem;
}

.items {
  display: flex;
  flex-direction: column;
}
.item-btns {
  margin: 0 auto;
    margin-top: 2rem;
}

.item-btns>a {
  text-decoration: none;
  color: black;
  background-color: var(--light-grey);
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.item-btns>a:hover {
  background-color: var(--blue);
  color: white;
}

.items-edit {
  text-align: center;
  border: 2px solid black;
  padding: 1rem;
}

.item-edit-name {
  width: 11rem;
  margin-bottom: 0.5rem;
}

.items-edit-dropdowns {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.items-edit-description {
  width: 11rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.items-edit-save {
  width: 11.5rem;
  padding: 0.6rem;
  margin-top: 1rem;
  border: 1px solid black;
  background-color: rgb(214, 210, 210);
}

.items-edit-save:hover {
  background-color: rgb(186, 220, 186);
  cursor: pointer;
}

.items-flex {
  display: flex;
  flex-direction: column;
}

#calories2 {
  position: fixed;
  left: 13rem;
}

.menu-options {
  display: flex;
}

.menu-options>div>ul {
  list-style-type: none;
  padding: 0;
  margin-right: 1rem;
}

.menu-options>div>ul>li>a {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 5px;
}

.menu-options>div>ul>li>a:hover {
  color: red;
}

.rewards-options {
  list-style-type: none;
  padding: 0;
}

.rewards-options>li>a {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 5px;
}

.rewards-options>li>a:hover {
  color: red;
}

.rewards-title {
  margin-bottom: 2rem;
}

.menu-title {
  margin-left: 2rem;
}

.rewards-layout {
  display: flex;
}

.rewards-layout>button {
  margin: 1rem;
  width: 50%;
}

.ai-meal-plan {
  background-color: red;
  border: 1px solid black;
  color: white;
}

.points-title {
  font-size: 1rem;
  font-family: var(--font-slab);
  color: black;
}

.points-title>span {
  color: var(--primary-yellow);
}

.rewards-username>span {
  /* font-family: var(--font-slab);
  font-size: 1rem; */
  color: var(--primary-yellow);
}

.text-rewards {
  display: flex;
  gap: 1rem;
}



.reward-layout-btns>a {
  text-decoration: none;
  color: white;
  background-color: var(--blue);
  font-family: var(--font-slab);
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
}

.reward-layout-btns>a:hover {
  background-color: var(--light-grey);
  color: black;
}

.goback-link {
  margin-top: 0.8rem;
}

#goback-link {
  text-decoration: none;
  color: black;
  background-color: rgb(132, 189, 236);
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
}

.user-inputs {
  margin-bottom: 1rem;
  font-family: var(--font-slab);
  font-weight: bold;
  /* padding: 0.6rem 0rem; */
  height: 59px;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  border: none;
  border-bottom: 1px solid black;
  border-radius: 4px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  color: white;
  background-color: var(--blue);
}

.index-body {
  margin: 0rem 4rem;
}

.content-wrapper {
  flex: 1;
}

.filter-container-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.filter-container-add>div>a {
  text-decoration: none;
  color: white;
}

.filter-partials {
  font-family: var(--font-slab);
  font-weight: bold;
  padding: 0.6rem 0.6rem;
  /* height: 59px; */
  background-color: var(--light-grey);
  color: var(--dark-grey);
  border: none;
  border-bottom: 1px solid black;
  border-radius: 4px;
}

.chosen-meal {
  color: var(--primary-yellow);
}

#categoryFilter {
  font-family: var(--font-slab);
}

#itemNameFilter {
  font-family: var(--font-slab);
}

.filter-submit {
  font-family: var(--font-slab);
  color: white;
  background-color: var(--primary-yellow);
  border: 1px solid black;
  border-radius: 4px;
}

.filter-submit:hover {
  cursor: pointer;
  background-color: var(--blue);
}

.add-points-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.add-points-nav {
  margin-top: 0rem;
  align-items: center;
}

.hidden {
  display: none;
}

.myCartbtn {
  padding: 0.5rem 4rem;
  margin-left: 1rem;
}

.add-more-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-items {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.delete-form {
  display: flex;
  justify-content: center;
}

.items {
  display: flex;
  border: 2px solid black;
  border-radius: 1rem;
  margin-bottom: 2rem;
  background-color: var(--primary-yellow);
  color: var(--blue);
  font-family: var(--font-slab);
  position: relative;
  justify-content: center;
  padding-bottom: 5rem;
}

.remove-btn {
  margin-bottom: 1rem;
  font-family: var(--font-slab);
  border: 1px solid black;
  width: 80%;
  margin-top: auto;
  position: absolute;
  top: 11rem;
}

.remove-btn:hover {
  background-color: var(--primary-yellow);
  color: white;
}

.btn-add {
  margin-bottom: 1rem;
  font-family: var(--font-slab);
  border: 1px solid black;
  width: 80%;
  margin-top: auto;
  position: absolute;
  top: 13rem;
  left: 2rem;
}

.btn-add:hover {
  background-color: var(--primary-yellow);
  color: white;
}

.checkOut-title {
  font-family: var(--font-cursivo);
  color: #d5b359;
  text-align: center;
  font-size: 6rem;
  margin: 0rem;
}

.checkOut-container {
  display: flex;
  justify-content: space-between;
}

.checkOut-items {
  background-color: var(--light-grey);
  border: 2px solid var(--primary-yellow);
  font-family: var(--font-slab);
  color: var(--blue);
  width: 100%;
}

.checkOut-items>h2 {

  border-bottom: 2px solid var(--primary-yellow);
  padding-left: 1rem;
  padding-bottom: 1rem;

}

.checkOut-items>div {
  padding-left: 1rem;
}

.menu-photo {
  background-image: url('/images/menu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 93%;
  height: 150px;
  width: 150px;
}

.checkOut-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.checkOut-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkOut-container3 {
  display: flex;
  gap: 1rem;
}

.checkOut-btns {
  margin: 0rem 2rem;
  white-space: nowrap;
}

.checkOut-btns>button {
  font-size: 1rem;
  background-color: var(--light-grey);
  border: none;
  color: var(--blue);
}

#number-btn {
  border: 1px solid var(--blue);
  padding: 0.5rem 0.8rem;
}

#minus {
  font-size: 1.5rem;
}

#plus {
  font-size: 1.5rem;
  position: relative;
  top: 0.2rem;
}

#plus:hover {
  background-color: aliceblue;
}

#minus:hover {
  background-color: aliceblue;
}

.checkOut-summary {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-yellow);
  font-family: var(--font-slab);
  color: var(--blue);
  background-color: var(--light-grey);
}

.checkOut-summary>h2 {
  padding: 1rem 4rem 1rem 1rem;
  margin: 0rem;
}

.checkOut-summary>h2 {
  border-bottom: 2px solid var(--primary-yellow);
  background-color: white;
}

.checkOut-summary2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-start;
  text-align: left;
  align-items: center;
}

.checkOut-summary2>p {
  text-align: left;
  padding-left: 1rem;
  font-weight: 700;
}

.checkOut-summary2>span {
  text-align: right;
  padding-right: 1rem;
}

.checkOut-title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.add-points-2 {
  background-color: white;
  padding: 0.5rem 5.4rem;
  margin: 0rem;
  border-bottom: 2px solid var(--primary-yellow);
  border-top: 2px solid var(--primary-yellow);
  white-space: nowrap;
}

#code-enter {
  background-color: white;
  margin-left: 1.5rem;
  margin: 2rem auto
}

.get-points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#get-points {
  display: flex;
  padding: 1rem 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: 1rem;
  white-space: nowrap;
  justify-content: center;
}

.home-image {
  background-image: url('/images/white-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 93%;
  height: 57px;
  width: 150px;
}

.footer-image {
  background-image: url('/images/logo-blue.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 93%;
  height: 150px;
  width: 150px;
  margin-left: 4rem;
}

footer>div>div>p {
  margin-left: 2rem;
}

.social-media {
  display: flex;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  gap: 1rem;
}

.footer-image {
  background-image: url('/images/logo-blue.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 93%;
  height: 150px;
  width: 150px;
  margin-left: 4rem;
}

.facebook-photo {
  background-image: url('/images/logo-facebook.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 55px;
  width: 55px;
  border: 1px solid var(--primary-yellow);
  border-radius: 30px;
}

.instagram-photo {
  background-image: url('/images/logo-instagram.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 55px;
  width: 55px;
  border: 1px solid var(--primary-yellow);
  border-radius: 30px;
}

.social-media-title {
  margin-left: 2rem;
}

.getStarted {
  margin-top: 1rem;
  margin-left: 2rem;
}

.getStarted-tags {
  margin: 0rem;
}

.locations {
  margin-top: 1rem;
  /* margin-left: 2rem; */
}

.gift-cards {
  background-color: var(--blue);
  color: var(--primary-yellow);
  border: 1px solid var(--primary-yellow);
  padding: 1rem;
  border-radius: 25px;
}

.gift-cards:hover {
  background-color: var(--light-grey);
  border: 1px solid black;
  color: black;
}

.newsletter {
  margin-top: 1rem;
  /* margin-left: 2rem; */
}

.newsletter-tags>input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  padding-right: 6rem;
  border-radius: 10px;
  border: 1px solid black;
}

.subscribe {
  background-color: var(--primary-yellow);
  color: white;
  border: 1px solid black;
  padding: 1rem 3rem;
  border-radius: 25px;
  font-family: var(--font-slab);
  font-size: medium;
}

.subscribe:hover {
  background-color: var(--light-grey);
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.copyright-container {
  background-color: var(--primary-yellow);
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  font-weight: 600;
}

.copyrigth-logo {
  background-image: url('/images/logo-copyrigth.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 30px;
  width: 30px;
}

video {
  position: relative;
  width: 100%;
}

.call {
  background-color: var(--primary-yellow);
  color: white;
  border: none;
  padding: 1rem 3rem;
  border-radius: 25px;
  font-family: var(--font-slab);
  font-size: medium;
  margin-bottom: 1rem;
}

.call:hover {
  background-color: var(--light-grey);
  color: black;
  cursor: pointer;
}

.vid-text-container {
  text-align: center;
  position: absolute;
  font-weight: 400;
  color: white;
  font-size: 2rem;
  top: 34%;
  left: 18%;
  right: 18%;
}

.app {
  background-image: url('/images/app.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 300px;
  width: 300px;
}

.app-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

.app-title {
  color: var(--primary-yellow);
  font-weight: 500;
  font-size: 3rem;
}

.app-text {
  font-family: var(--font-slab);
  line-height: 2;
}

.hide-hr {
  background-color: white;
  color: white;
  position: absolute;
  top: 6rem;
  width: 100%;
}

.events-image {
  background-image: url('/images/private-events.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 400px;
  width: 100%;
}

.events-container {
  margin: 0rem -4rem;
  position: relative;
  /* isolation: isolate !important; */

}

.events-text {
  margin: 0rem;
  font-family: var(--font-cursivo);
  color: white;
  font-size: 4rem;
}

.events-text2 {
  color: white;
}

.events-container2 {
  text-align: center;
  position: absolute;
  top: 17%;
  left: 30%;
  right: 30%;
  padding: 2rem;
}

.sweet-heart {
  text-align: center;
  margin: 5rem 0rem;
  color: var(--dark-grey);
}

.sweet-heart-text {
  font-family: var(--font-cursivo);
  color: var(--blue);
  font-size: 4rem;
  margin: 0;
}

.profile-tab {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.profile-tab>a {
  text-decoration: none;
  color: var(--blue);
  border: 1px solid var(--primary-yellow);
  padding: 1rem 1rem;
  background-color: var(--light-grey);
}

.profile-tab>a:hover {
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color: white;
}

#firstname>span {
  font-family: var(--font-cursivo);
  color: white;
  font-size: 3.5rem;
}




.rewards-nav {
  margin-top: 2rem;
  align-items: center;
  position: relative;
  z-index: 2;

}

.add-your-btn {
  z-index: 1;
}

.back-color-blue {
  height: 183px;
  width: 100%;
  background-color: #304A97;
  position: absolute;
  top: 12%;
  z-index: 1;
}

.rewards-nav-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: relative;
  margin-bottom: 2rem;
}

.profile-firstname {
  display: flex;
  gap: 2rem;
}

.add-your-btn>a {
  text-decoration: none;
  position: absolute;
  white-space: nowrap;
  top: 10%;
  color: black;
  background-color: var(--light-grey);
  padding: 1rem;
  border-radius: 25px;
  font-family: var(--font-slab);
}

.add-your-btn>a:hover {
  color: white;
  background-color: var(--primary-yellow);
}

.no-rewards {
  color: var(--blue);
  text-align: center;
  font-family: var(--font-slab);
  font-weight: 100;
  font-size: 2.5rem;
}

.overview-info {
  font-family: var(--font-slab);
  color: var(--blue);
}

.overview-info-title {
  margin: 0rem;
}

.motek-hero>h1 {
  text-align: center;
  font-family: var(--font-slab);
}

.motek-hero>h1>span {
  text-align: center;
  font-family: var(--font-cursivo);
  font-size: 3rem;
}

.motek-hero {
  color: var(--blue);
  text-align: center;
  font-family: var(--font-slab);
  margin: 0rem 0rem;
}

.motek-hero>p {
  color: var(--dark-grey);
}



.redeem-rewards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  margin-bottom: 4rem;
}

.redeem-item {
  border: 1px solid black;
  text-align: center;
  font-family: var(--font-slab);
}

.redeem-item>form {
  padding-bottom: 1rem;
}

.redeem-item>form>button {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  font-family: var(--font-slab);
}

.redeem-item>form>button:hover {
  background-color: var(--blue);
  cursor: pointer;
  color: white;
}

.redeem-item>h4 {
  color: var(--blue);
  font-size: 1.5rem;
}

.heart-icon-container {
  display: flex;
  z-index: 3;
  align-items: center;
  background-color: var(--primary-yellow-light);
}

.heart-icon-container {
  display: flex;
  z-index: 3;
  align-items: center;
  background-color: var(--primary-yellow-light);
}

.heart-icon {
  background-image: url('/images/heart-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 47%;
  height: 55px;
  width: 55px;
  border-radius: 30px;
}

#firstname {
  color: grey;
}

#profile-first {
  background-color: var(--primary-yellow-light);
  text-decoration: none;
  color: var(--blue);
}

.two-tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  margin-left: 21rem;
  font-family: var(--font-slab);
}

.tab-content-text2 {
  border: 1px solid var(--primary-yellow);
  margin-bottom: 1rem;
  text-align: center;
  color: var(--blue);
  font-family: var(--font-slab);
  margin-bottom: 1rem;
}

.weekly-goal {
  padding: 1rem;
  border: none;
  border-radius: 25px;
  background-color: var(--blue);
  color: white;
  font-family: var(--font-slab);
  margin-top: 1rem;
}

.weekly-goal:hover {
  background-color: var(--primary-yellow);
  cursor: pointer;
}

.generate {
  margin-bottom: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 25px;
  background-color: var(--primary-yellow);
  color: white;
  font-family: var(--font-slab);
}

.generate:hover {
  background-color: var(--blue);
  cursor: pointer;
}

.user-profile-tab {
  margin-bottom: 4rem;
}
.points-one {
  color: var(--blue);
  font-family: var(--font-slab);
  text-align: center;
}

.points-one-hidden {
  color: white;
}

.reward-content {
  font-family: var(--font-slab);
  color: var(--primary-yellow);
  white-space: nowrap;
  font-size: 0.8rem;
  text-align: center;
}

.reward-content2 {
  color: var(--dark-grey);
  white-space: nowrap;
  font-size: 0.8rem;
  text-align: center;
}

.weat-image {
  background-image: url('/images/whole.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 194%;
  height: 65px;
  width: 65px;
  margin: 0 auto;
  padding-top: 1rem;
}

.weat-image-container {
  border: 1px solid grey;
  border-radius: 25px;
}

.hummus-image {
  background-image: url('/images/hummus.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 194%;
  height: 65px;
  width: 65px;
  margin: 0 auto;
  padding-top: 1rem;
}

.hummus-image-container {
  border: 1px solid grey;
  border-radius: 25px;
}

.green-image {
  background-image: url('/images/green.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 194%;
  height: 65px;
  width: 65px;
  margin: 0 auto;
  padding-top: 1rem;
}

.green-image-container {
  border: 1px solid grey;
  border-radius: 25px;
}

.hisbicus-image {
  background-image: url('/images/hibiscus.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 194%;
  height: 65px;
  width: 65px;
  margin: 0 auto;
  padding-top: 1rem;
}

.hisbicus-image-container {
  border: 1px solid grey;
  border-radius: 25px;
}

.rimonana-image {
  background-image: url('/images/rimonana.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 194%;
  height: 65px;
  width: 65px;
  margin: 0 auto;
  padding-top: 1rem;
}

.rimonana-image-container {
  border: 1px solid grey;
  border-radius: 25px;
}

.tote-image {
  background-image: url('/images/tote.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 65px;
  width: 65px;
  margin: 0 auto;
  padding-top: 1rem;
}

.tote-image-container {
  border: 1px solid grey;
  border-radius: 25px;
}

.falafel-image {
  background-image: url('/images/falafel.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 194%;
  height: 65px;
  width: 65px;
  margin: 0 auto;
  padding-top: 1rem;
}

.falafel-image-container {
  border: 1px solid grey;
  border-radius: 25px;
}

.berry-image {
  background-image: url('/images/berry.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 194%;
  height: 65px;
  width: 65px;
  margin: 0 auto;
  padding-top: 1rem;
}

.berry-image-container {
  border: 1px solid grey;
  border-radius: 25px;
}

.yummy-image {
  background-image: url('/images/yummy.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 65px;
  width: 65px;
  margin: 0 auto;
  padding-top: 1rem;
}

.yummy-image-container {
  border: 1px solid grey;
  border-radius: 25px;
}

.add-item-rewards2 {
  padding: 1rem 2rem;
}