body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.layout-links {
  color: black;
  text-decoration: none;
  margin-left: 2rem;
  background-color: rgb(228, 224, 224);
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid black;
}

.layout-links:hover {
  background-color: rgb(193, 190, 190);
}

.layout-links:nth-of-type(1) {
  margin-left: 0;
}

.profile-name {
  margin-top: 2.5rem;
}

.border-nav {
  margin-top: 2rem;
  height: 0.2rem;
  background-color: rgb(177, 177, 74);
  border-radius: 0.25rem;
  border: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

.form-orientation {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.form-title {
  display: flex;
  justify-content: center;
}

.centered-labels {
  text-align: center;
  color: white;
  background-color: rgb(177, 177, 74);
  border-radius: 0.5rem;
  margin-top: 1rem;
  border: 1px solid black;
  height: 1.2rem;
}

.inputs-form {
  margin-top: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  text-align: center;
  height: 1.5rem;
}

.btn-forms {
  margin-top: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  cursor: pointer;
}

.btn-cancel {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-size: 15px;
  background-color: red;
}

.save-changes {
  color: white;
  border: 2px solid black;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 15px;
  background-color: green;
}

.save-changes:hover {
  background-color: rgb(83, 182, 83);
  color: white;
}

.btn-cancel:hover {
  background-color: rgb(223, 127, 127);
  color: white;
}

.admin-container {
  display: flex;
  justify-content: space-around;
}

.admin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-text-inputs {
  margin-top: 1rem;
}

#description {
  margin-top: 1rem;
  width: 30rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

#itemName {
  width: 30rem;
}

.btn-admin {
  width: 31rem;
  margin-top: 1rem;
  padding: 0.5rem 0rem;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.items {
  text-align: center;
  border: 2px solid black;
}

.items:hover {
  background-color: rgb(232, 232, 232);
}

span {
  font-weight: 100;
}

.item-name {
  color: red;
  background-color: rgb(205, 200, 200);
  padding: 0.3rem 0rem;
  width: 90%;
  margin: 1rem auto;
  border: 1px solid black;
  border-radius: 0.5px;
}

.item-btns {
  margin-bottom: 1rem;
}

.item-btns>a {
  text-decoration: none;
  color: black;
  background-color: rgb(241, 241, 117);
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.item-btns>a:hover {
  background-color: rgb(241, 241, 197);
}

.items-edit {
  text-align: center;
  border: 2px solid black;
  padding: 1rem;
}

.item-edit-name {
  /* background-color: red; */
  width: 11rem;
  margin-bottom: 0.5rem;
}

.items-edit-dropdowns {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.items-edit-description {
  width: 11rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.items-edit-save {
  width: 11.5rem;
  padding: 0.6rem;
  margin-top: 1rem;
  border: 1px solid black;
  background-color: rgb(214, 210, 210);
}

.items-edit-save:hover {
  background-color: rgb(186, 220, 186);
  cursor: pointer;
}

.items-flex {
  display: flex;
  flex-direction: column;
}

#calories2 {
  position: fixed;
  left: 13rem;
}