<h1>Admin Profile</h1>



<div class="admin-container">
    <div>
        <h1 class="menu-title">Menus</h1>
        <div class="menu-options">
        <div>
            <ul>
                <li><a href="/admin/user/lunchmenu/edit">Lunch</a></li>
            </ul>

        </div>
        <div>
            <ul>
                <li><a href="/admin/user/dinnermenu/edit">Dinner</a></li>
            </ul>

        </div>
        </div>
    </div>

    <div>
        <h1 class="rewards-title">Rewards</h1>
        <ul class="rewards-options">
            <li><a href="/admin/user/rewards/edit">All Rewards</a></li>
        </ul>
    </div>
</div>