<h1>Admin Profile</h1>



<div class="admin-container">
    <div>
        <h1>Menus</h1>
        <div>
            <ul>
                <li><a href="/admin/user/lunchmenu/edit">Lunch</a></li>
            </ul>

        </div>
        <div>
            <ul>
                <li><a href="/admin/user/dinnermenu/edit">Dinner</a></li>
            </ul>

        </div>
    </div>

    <div>
        <h1>Rewards</h1>
        <ul>
            <li><a href="/admin/user/rewards/edit">All Rewards</a></li>
        </ul>
    </div>
</div>