<h1>Admin Profile</h1>

<h2>Menus</h2>
<div>
    <h3>Lunch</h3>
    <a href="/admin/editlunchmenu">Edit</a>
</div>
<div>
    <h3>Dinner</h3>
    <a href="/admin/editdinnermenu">Edit</a>

</div>
<h1>Rewards</h1>
<div>
    <a href="/admin/editdinnermenu">Edit</a>
</div>