<div class="index-body">

    <h2 class="form-title">Edit Profile</h2>

    <form action="/users/profile/edit" method="post" class="form-orientation">

        {{!-- <label for="firstname" class='centered-labels'>First Name: </label> --}}
        <input type="text" name="firstname" id="firstname" class="user-inputs" value="{{firstname}}" class="inputs-form" placeholder="Firstname">

        {{!-- <label for="lastname" class='centered-labels'>Last Name: </label> --}}
        <input type="text" name="lastname" id="lastname" value="{{lastname}}" class="user-inputs" placeholder="Lastname">

        {{!-- <label for="email" class='centered-labels'>Email: </label> --}}
        <input type="text" name="email" id="email"  value="{{email}}" class="user-inputs" placeholder="Email">

        <button type="submit" class="btn-forms">Save Changes</button>
        <button href=" /users/profile" class="btn-forms">Cancel</a>

        {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
    </form>
</div>